/*!
 * Start Bootstrap - Landing Page v5.0.0 (https://startbootstrap.com/template-overviews/landing-page)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-landing-page/blob/master/LICENSE)
 */

body, html {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden!important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    border-bottom: 2px solid #28a745;
}

header.masthead1 {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #28a745;
}

header.masthead1 .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead1 h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {

    header.masthead1 h1 {
        font-size: 3rem;
    }
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #28a745;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
    cursor: pointer;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-bottom: 2px solid #28a745;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0px 5px 5px 0px #adb5bd;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-bottom: 2px solid #28a745;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.call-to-action1 {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #28a745;
    border-top: 2px solid #28a745;
}

.call-to-action1 .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}


.call-to-action2 {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-bottom: 2px solid #28a745;
    border-top: 2px solid #28a745;
}

.call-to-action2 .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container-fluid, .navbar, .navbar-brand {
    margin: 0;
    padding: 0;
}

.no-gutters {
    border-bottom: 2px solid #28a745;
}

.uno-gutters1 {
    border-bottom: 2px solid #28a745;
}

input[type=email]:focus {
    box-shadow: 0 0 5px rgb(63, 238, 108);
    border: 1px solid rgb(40, 167, 69);
}

.innersection {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #28a745;
}

.innersection2 {
    position: relative;
    background-color: #343a40;
    background: url("../img/pexels-photo-958165.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #28a745;
    border-top: 2px solid #28a745;
}

.innersection .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.modal-content, .card {
    border: 2px solid #28a745;
}

.list-inline-item.active {
    color: #1b6f31;
    font-weight: bold;
}

.nav-item.active {
    font-weight: bold;
}

#itemCount {
    position: absolute;
    display: none;
    top: 25px;
    left: 45px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
}

#cart-container {
    float: right;
    width: 70px;
    position: relative;
}