body {
    background: #fff;
}

#nav {
    background: #3a444e;
    height: 100%;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

#header {
    background: #4f5b68;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
}

#main {
    width: 100%;
    justify-content: center;
    margin-top: 3rem;
}

form {
    width: 100%;
    max-width: 800px;
}

input[type="text"],
textarea.form-control {
    background: #f5f5f9;
}

.input-group-append button:first-of-type {
    margin-right: 2px;
}

.nav a {
    color: #4f5b68;
}
#main .nav a.active {
    color: #3a444e;
}

@media(max-width: 990px){
    #nav {
        width: 50px;
    }
    #main, #header {
        width: calc(100% - 50px);
        margin-left: 50px;
    }
}